@mixin lg {
  @media (max-width: 886px) {
    @content;
  }
}

@mixin mob {
  @media (max-width: 570px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 995px) {
    @content;
  }
}
.txt{
  @include mob {
    width: 400px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-top: 50px;
  &_min {
    margin-top: 20px;
  }
  @include mob {
  }
}
